/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body {
	background-image: url('../assets/images/background.png') !important;
}

.jumbotron {
	background: none;

	.header {
		background: url('../assets/images/header-background.jpg') !important;
		color: white;
		text-shadow: 2px 2px #3c3b38;
	}
}

.container {
	padding: 30px;
	background-color: #F2F2F2;
	-moz-box-shadow: 5px 5px 10px 0px #695645;
	-o-box-shadow: 5px 5px 10px 0px #695645;
	box-shadow: 5px 5px 10px 0px #695645;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#695645, Direction=134, Strength=10);

	.preview {
		h2 {
			margin-top: 0;
			margin-bottom: 20px;
		}
	}
}

.carousel-control {
	background: none !important;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
